<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="connection" value="Data Source=192.168.100.106\SQL2012;Initial Catalog=PT2_JGEQ_FZXT;uid=PT2_JGEQ_FZXT;pwd=PT2_JGEQ_FZXT;Pooling=true;MAX Pool Size=256;Min Pool Size=1" />
	</appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
